*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    box-sizing: border-box;
}
/* 1 */
.topo {
    padding: 20px;
    background-color: #fff; 
    position: fixed;
    width: 100%
}

.topo h1, .links {
    display: inline;
}

.topo h1 {
    padding-bottom: 20px;
}

.topo a {
    color: rgba(47, 180, 96);
    text-decoration: none;
}

.topo h1, .topo span {
    font-family: sans-serif;
}
.links p {
    display: inline;
    justify-content: flex-end;
    position: absolute;
    right: 60px;
    top: 34px;
}
.links a{
    padding: 0 30px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.topo h1, a{
    font-family: sans-serif;
}
/* 2 */
.banner{
    background-image: url(assets/img-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
    padding: 15% 0;
    height: 400px;
}
.conteudo{
    width: 20%;
    margin: 0 auto;
    background-color: rgba(47, 180, 96, 0.5);
    opacity: 100px;
    padding: 70px 40px ;
    color: white;
    font-weight: bold;
    border: 1px solid white;

}
.conteudo p{
    margin-top: 50px;
    margin-bottom: -50px;
    margin-left: -30px;
    font-size: 22px;
}
.conteudo h1{
    font-size: 40px;
    font-weight: bold;
}
.conteudo h1, p{
    text-align: center;
}


.solteiros{
    padding: 200px;
    margin-top: -100px;
}
.solteiros h1{
    padding-bottom: 70px;
    font-size: 40px;
}
.solteiros p{
    font-size: 20px;
    line-height: 2.8;
    width: 50%;
}
.solteiros p , h1{
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}

.casal{
    padding: 200px;
    margin-top: -100px;
}
.casal h1{
    padding-bottom: 70px;
    font-size: 40px;
}
.casal p{
    font-size: 20px;
    line-height: 2.8;
    width: 50%;
}
.casal p , h1{
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}

.familia{
    padding: 200px;
    margin-top: -100px;
}
.familia h1{
    padding-bottom: 70px;
    font-size: 40px;
}
.familioa p{
    font-size: 20px;
    line-height: 2.8;
    width: 50%;
}
.familia p , h1{
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}

.familia p{
    font-size: 22px;
 
}

.imgsol {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.imgsol img {
    max-width: 30%; 
    margin-bottom: 20px;
}

.familia .esquerdo1{
    margin-right: 900px;
    font-size: 20px;
    margin-top: 30px;
    text-align: justify;
}
.familia .esquerdo2{
    margin-right: 850px;
    font-size: 20px;
    margin-top: 20px;
    text-align: justify;
}

.solteiros .esquerdo1{
    margin-right: 900px;
    text-align: justify;
}
.solteiros .esquerdo2{
    margin-right: 1050px;
    font-size: 14px;
    font-size: 18px;
    text-align: justify;
}

.casal .esquerdo1{
    margin-right: 800px;
    text-align: justify;
}
.casal .esquerdo2{
    margin-right: 1050px;
    font-size: 14px;
    font-size: 20px;
    text-align: justify;
    
}

.solteiros .meio1{
    margin-top: -100px;

    font-size: 20px;  
}
.solteiros .meio2{
    font-size: 20px;  

}


.casal .meio1{
    margin-top: -100px;

    font-size: 20px;  
}
.casal .meio2{
    font-size: 14px;
    font-size: 20px;  
}

.familia .meio1{
    margin-top: -50px;
    font-size: 20px;
    margin-top: -68px;  
}
.familia .meio2{
    font-size: 20px;  
    margin-top: 20px;
}

.solteiros .direita1{
    margin-left: 950px;
    margin-top: -110px;

}
.solteiros .direita2{
    margin-left: 1000px;
}

.casal .direita1{
    margin-left: 980px;
    margin-top: -120px;

}

.casal .direita2{
    margin-left: 1000px;
}

.familia .direita1{
    margin-left: 1200px;
    margin-top: -40px;
    font-size: 20px;
    margin-top: -68px; 

}
.familia .direita2{
    margin-left: 1240px;
    font-size: 20px;
    margin-top: 20px;

}

.familia h1{
    margin-top: -120px;
}

.casal h1{
    margin-top: -120px;
}

.container h3{
    text-align: center;
    font-size: 24px;
}

.rodape{
    background-color: rgb(47, 180, 96);
    width: 100%;
    padding-top: 10px;
    
    
}

.sub-roda{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    color: white;
    margin-top: 10px;
}
.sub-roda div {
    display: flex;
    align-items: center;
}

.sub-roda img {
    width: 30px;
}

.sub-roda h1{
    text-align: left;
    margin-left: 70px;
    width:300px;
    font-size: 25px ;
}
.sub-roda p{
    font-size: 20px;
}

/* 7.1 */
.roda-fim hr{
    width: 100%;
}
.roda-fim h3{
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    font-family: sans-serif;
    color: white;

}
.calendario{
    margin-left: -100px;
}